<%include ../partials/header%>


<!--Displaying all the clients-->
<div class="container-fluid" style="padding-top: 60px;">
    <!--ROW START-->
    <div class="row">
        <%clients.forEach(function(client){%>
            <div class="col-md-4 col-sm-6 col-xs-12" style="display:flex; flex-wrap:wrap">
                <div class="text-center">
                     <a  href="/superuser/<%=superuserID%>/client/<%=client._id%>"><img src="<%=client.photo%>" class="avatar img-circle img-thumbnail index-image" alt="avatar"></a>
                    <div class="caption">
                        <h3><%=client.firstName+" "+client.lastName%></h3>
                        <p><strong>Legal Guardian: </strong><%=client.guardian%></p>
                        <p><strong>Phone: </strong><%=client.phone%></p>
                        <p><strong>Diagnosis: </strong><%=client.diagnosis%> </p>
                        <p><strong>Medicaid Number: </strong><%=client.medicaidNumber%></p>
                    </div>
                </div>
            </div>
        <%})%>
    </div>
    <!--ROW FINISH-->
</div>
 




<%include ../partials/footer%>