<%include ../partials/header%>


<div class="container-fluid" style="padding-top: 60px;">
    <!--Displaying client, including delete deactivate and edit buttons-->
    <div class="row text-center">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img   src="<%=client.photo%>" class="avatar img-circle img-thumbnail main-image" alt="avatar">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2><%=client.firstName+" "+client.lastName%></h2>
            <%if(currentUser.type=="superuser"){%>
            <a class="btn btn-success"href="/superuser/<%=superuserID%>/client/<%=client._id%>/edit">Edit</a>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deactivateModal">Deactivate</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
            <div id="deactivateModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Atention</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class=" btn btn-default" data-dismiss="modal">No</button>
                            <form class="clientButton" method="post" action="/superuser/<%=superuserID%>/client/<%=client._id%>?_method=DELETE">
                                <input style="display:none" type="text" value="deactivate" name="deleteFlag">
                                <button class="btn btn-default ">Yes</button>
                            </form>
                        </div>
                    </div>
              </div>
            </div>
            <div id="deleteModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Atention</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class=" btn btn-default" data-dismiss="modal">No</button>
                            <form class="clientButton" method="post" action="/superuser/<%=superuserID%>/client/<%=client._id%>?_method=DELETE">
                                <button class="btn btn-default ">Yes</button>
                            </form>
                        </div>
                    </div>
              </div>
            </div>
            <%}%>
            <div class="text-center">
            <a class="btn btn-default btn-report" href="/superuser/<%=superuserID%>/client/<%=client._id%>/report">Reports</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h4 class="page-header">Info</h4> 
        </div>
    </div>
     <!--Show client info-->
    <div class="row custom-table">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row"> Diagnosis</th>
                        <td><%=client.diagnosis%></td>
                    </tr>
                    <tr>
                        <th scope="row"> Legal Guardian</th>
                        <td><%=client.guardian%></td>
                    </tr>
                    <tr>
                        <th scope="row"> Phone</th>
                        <td><%=client.phone%></td>
                    </tr>
                    <tr>
                        <th scope="row"> Medicaid Number</th>
                        <td><%=client.medicaidNumber%></td>
                    </tr>
                    <tr>
                        <th scope="row"> Assistant</th>
                        <td><%=client.assistant.firstName+" "+client.assistant.lastName%></td>
                    </tr>
                    <tr>
                        <th scope="row">Analyst</th>
                        <td><%=client.analyst.firstName+" "+client.analyst.lastName%></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Show client maladaptative behaviors-->
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h4 class="page-header">Maladaptative Behaviors</h4> 
        </div>
    </div>
    <div class="row custom-table">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Behavior</th>
                        <th>Baseline</th>
                    </tr>
                </thead>
                <tbody>
                    <%client.maladaptativeBehaviors.forEach(function(maladaptativeBehavior){%>
                        <tr>
                            <th scope="row"><%=maladaptativeBehavior.name%></th>
                            <td><%=maladaptativeBehavior.baseline%></td>
                        </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </div>
    <!--Show client maladaptative behaviors-->
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h4 class="page-header">Replacement Behaviors</h4> 
        </div>
    </div>
    <div class="row custom-table">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Replacement</th>
                        <th>Baseline (%)</th>
                    </tr>
                </thead>
                <tbody>
                    <%client.replacementsBehaviors.forEach(function(replacementBehavior){%>
                        <tr>
                            <th scope="row"><%=replacementBehavior.name%></th>
                            <td><%=replacementBehavior.baseline%></td>
                        </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </div>
    <!--Show client approvals--> 
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <h4 class="page-header">Approvals</h4> 
        </div>
    </div>
    <div class="row custom-table">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Units</th>
                        <th>Procedure</th>
                        <th>Available Units</th>
                    </tr>
                </thead>
                <tbody>
                    <%client.approvals.forEach(function(approval){%>
                        <%if(approval.endDate>Date.now()){%>
                            <tr class="current">
                        <%}%>
                        <%if(approval.endDate<Date.now()){%>
                            <tr>
                        <%}%>
                                <th scope="row"><%=approval.number%></th>
                                <td><%=(approval.startDate.getMonth()+1)+"/"+approval.startDate.getDate()+"/"+approval.startDate.getFullYear()%></td>
                                <td><%=(approval.endDate.getMonth()+1)+"/"+approval.endDate.getDate()+"/"+approval.endDate.getFullYear()%></td>
                                <td><%=approval.units%></td>
                                <td><%=approval.procedure%></td>
                                <td><%=approval.availableUnits%></td>
                            </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </div>
</div>
   



<%include ../partials/footer%>



 