<%include ../partials/header%>


<div class="container-fluid" style="padding-top: 60px;">
    <!--Displaying client, including delete deactivate and edit buttons-->
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img id="dashPhoto" src="<%=client.photo%>" class="avatar img-circle img-thumbnail" alt="avatar">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h2><%=client.firstName+" "+client.lastName%></h2>
            <%if(currentUser.type=="superuser"){%>
            <a class="btn btn-success"href="/superuser/<%=superuserID%>/client/<%=client._id%>/edit">Edit</a>
            <form class="clientButton" method="post" action="/superuser/<%=superuserID%>/client/<%=client._id%>?_method=DELETE">
                <input style="display:none" type="text" value="deactivate" name="deleteFlag">
                <button class="btn btn-warning ">Deactivate</button>
            </form>
            <form class="clientButton" method="post" action="/superuser/<%=superuserID%>/client/<%=client._id%>?_method=DELETE">
                <button class="btn btn-danger ">Delete</button>
            </form>
            <%}%>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h4 class="page-header">Info</h4> 
        </div>
    </div>
     <!--Show client info-->
    <div class="row custom-table">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row"> Diagnosis</th>
                        <td><%=client.diagnosis%></td>
                    </tr>
                    <tr>
                        <th scope="row"> Legal Guardian</th>
                        <td><%=client.guardian%></td>
                    </tr>
                    <tr>
                        <th scope="row"> Phone</th>
                        <td><%=client.phone%></td>
                    </tr>
                    <tr>
                        <th scope="row"> Medicaid Number</th>
                        <td><%=client.medicaidNumber%></td>
                    </tr>
                    <tr>
                        <th scope="row"> Assistant</th>
                        <td><%=client.assistant.firstName+" "+client.assistant.lastName%></td>
                    </tr>
                    <tr>
                        <th scope="row">Analist</th>
                        <td><%=client.analist.firstName+" "+client.analist.lastName%></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Show client maladaptative behaviors-->
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h4 class="page-header">Maladaptative Behaviors</h4> 
        </div>
    </div>
    <div class="row custom-table">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Behavior</th>
                        <th>Baseline</th>
                    </tr>
                </thead>
                <tbody>
                    <%client.maladaptativeBehaviors.forEach(function(maladaptativeBehavior){%>
                        <tr>
                            <th scope="row"><%=maladaptativeBehavior.name%></th>
                            <td><%=maladaptativeBehavior.baseline%></td>
                        </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </div>
    <!--Show client maladaptative behaviors-->
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h4 class="page-header">Replacement Behaviors</h4> 
        </div>
    </div>
    <div class="row custom-table">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Replacement</th>
                        <th>Baseline (%)</th>
                    </tr>
                </thead>
                <tbody>
                    <%client.replacementsBehaviors.forEach(function(replacementBehavior){%>
                        <tr>
                            <th scope="row"><%=replacementBehavior.name%></th>
                            <td><%=replacementBehavior.baseline%></td>
                        </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </div>
    <!--Show client approvals--> 
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <h4 class="page-header">Approvals</h4> 
        </div>
    </div>
    <div class="row custom-table">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Units</th>
                        <th>Procedure</th>
                        <th>Available Units</th>
                    </tr>
                </thead>
                <tbody>
                    <%client.approvals.forEach(function(approval){%>
                        <%if(approval.endDate>Date.now()){%>
                            <tr class="current">
                        <%}%>
                        <%if(approval.endDate<Date.now()){%>
                            <tr>
                        <%}%>
                                <th scope="row"><%=approval.number%></th>
                                <td><%=(approval.startDate.getMonth()+1)+"/"+approval.startDate.getDate()+"/"+approval.startDate.getFullYear()%></td>
                                <td><%=(approval.endDate.getMonth()+1)+"/"+approval.endDate.getDate()+"/"+approval.endDate.getFullYear()%></td>
                                <td><%=approval.units%></td>
                                <td><%=approval.procedure%></td>
                                <td><%=approval.availableUnits%></td>
                            </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </div>
</div>
   



<%include ../partials/footer%>



 