<!DOCTYPE html>
<html>
<head>
	<title>B-Note-A</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	<%if(page=="landing"){%>
    <link rel="stylesheet" href="/stylesheets/landing.css">
	<%}%>
	<%if(page=="login" || page=="change"){%>
    <link rel="stylesheet" href="/stylesheets/authentication.css">
    <%}%>
    <%if(page=="page404"){%>
    <link rel="stylesheet" href="/stylesheets/page404.css">
    <%}%>
</head>
<body>
    
    <%if(page=="login" || page=="change"){%>
        <div class="container">
            <%if(error && error.length>0){%>
            <div class="alert alert-danger text-center" role="alert"><%=error%></div>
            <%}%>
            <%if(success && success.length>0){%>
            <div class="alert alert-success text-center" role="alert"><%=success%></div>
            <%}%>
    
        </div>
    <%}%>
    <%if (page!="login" && page!="change" && page!="landing" && page!="page404"){%>
        <link rel="stylesheet" href="/stylesheets/css-main.css">
        <div id="throbber" style="display:none; min-height:120px;"></div>
        <div id="noty-holder"></div>
        <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://cijulenlinea.ucr.ac.cr/dev-users/">
                    <img src="http://placehold.it/200x50&text=LOGO" alt="LOGO">
                </a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li><a href="/logout"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-star"></i> CLIENTS <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-1" class="collapse">
                            <li><a href="/superuser/<%=superuserID%>/client"><i class="fa fa-search"></i> SHOW</a></li>
                            <%if(currentUser.type=="superuser"){%>
                            <li><a href="/superuser/<%=superuserID%>/client/new"><i class="fa fa-plus"></i> NEW</a></li>
                            <%}%>
                        </ul>
                    </li>
                    <%if(currentUser.type=="superuser"){%>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw fa-star"></i>  ASSISTANTS <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-2" class="collapse">
                            <li><a href="/superuser/<%=superuserID%>/assistant"><i class="fa fa-search"></i> SHOW</a></li>
                            <li><a href="/superuser/<%=superuserID%>/assistant/new"><i class="fa fa-plus"></i> NEW</a></li>
                        </ul>
                    </li>
                     <li>
                        <a href="#" data-toggle="collapse" data-target="#submenu-3"><i class="fa fa-fw fa-star"></i>  ANALISTS <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-3" class="collapse">
                            <li><a href="/superuser/<%=superuserID%>/analist"><i class="fa fa-search"></i> SHOW</a></li>
                            <li><a href="/superuser/<%=superuserID%>/analist/new"><i class="fa fa-plus"></i> NEW</a></li>
                        </ul>
                    </li>
                     <%}%>
                     <li>
                        <a href="#" data-toggle="collapse" data-target="#submenu-4"><i class="fa fa-fw fa-star"></i>  PROFILE <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-4" class="collapse">
                            <%if(currentUser.type=="superuser"){%>
                            <li><a href="/superuser/<%=superuserID%>/edit"><i class="fa fa-fw fa-user" aria-hidden="true"></i> EDIT</a></li>
                            <%}%>
                            <%if(currentUser.type=="assistant"){%>
                            <li><a href="/superuser/<%=superuserID%>/assistant/<%=currentUser.userRef%>/edit"><i class="fa fa-fw fa-user" aria-hidden="true"></i> EDIT</a></li>
                            <%}%>
                            <%if(currentUser.type=="analist"){%>
                             <li><a href="/superuser/<%=superuserID%>/analist/<%=currentUser.userRef%>/edit"><i class="fa fa-fw fa-user" aria-hidden="true"></i> EDIT</a></li>
                            <%}%>
                            <li><a href="/change"><i class="fa fa-fw fa-cog"></i> CHANGE PASSWORD</a></li>
                        </ul>
                    </li>
                     <li>
                        <a href="#" data-toggle="collapse" data-target="#submenu-5"><i class="fa fa-fw fa-star"></i>  REPORTS <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-5" class="collapse">
                            <li><a href="#"><i class="fa fa-question"></i> COMMING SOON</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div >
                    <%if(error && error.length>0){%>
                    <div class="alert alert-danger text-center" role="alert"><%=error%></div>
                    <%}%>
                    <%if(success && success.length>0){%>
                    <div class="alert alert-success text-center" role="alert"><%=success%></div>
                    <%}%>
                </div>
            <!-- Page Heading -->
                <div class="row" id="main" >
                      <%if((page!="superuser-show") && !(page=="analist-show" && currentUser.type=="analist") && !(page=="assistant-show" && currentUser.type=="assistant")){%>
                        <div class="col-sm-12 col-md-12 well" id="content">
                            <h2 class="welcome">Welcome <%=currentUser.username%></h2>
                            <h4 class="welcome"><%=currentUser.company%></h4>
                            <h5 class="welcome"><%=page.split("-")[0]%>s</h5>
                            <%if(page.indexOf("index") > -1){%>
                                <form id="searchForm" class="form-inline" action="/superuser/<%=superuserID%>/<%=page.split("-")[0]%>" method="GET">
                                    <label class="sr-only" for="inlineFormInputGroup">Search</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon">
                                            <button id="searchButton" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search" name="search">
                                    </div>
                                </form>
                            <%}%>
                        </div>
                    <%}%>
   <%}%>