<%include ../partials/header%>


<div class="container-fluid" style="padding-top: 60px;">
<!--Displaying the analist picture-->
    <form  method="POST" action="/superuser/<%=superuserID%>/analist/<%=analist._id%>?_method=PUT" class="form-horizontal" enctype="multipart/form-data" size="chars">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <img id="dashPhoto" src="<%=analist.photo%>" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
             <div class="col-md-6 col-sm-6 col-xs-6">
                <%if(currentUser.type=="superuser"){%>
                <h2><%=analist.firstName+" "+analist.lastName%></h2>
                <%}%>
                <%if(currentUser.type=="analist"){%>
                <h2 class="page-header">Edit Profile</h2>
                <%}%>
                <div>
                    <h6>Upload a different photo...</h6>
                    <input type="file" class="well well-sm" accept="image/*" capture="camera" name="photo"> 
                </div>
            </div>
       </div>
   <!--Form to edit an analist-->
       <div class="row">
           <div class="col-md-3 col-sm-3 col-xs-3">
               <h4 class="page-header">Info</h4> 
           </div>
       </div>
       <div class="row">
           <div class="col-md-6 col-sm-12 col-xs-12 ">
                <div class="form-group">
                  <label class="col-lg-3 control-label">First name:</label>
                  <div class="col-lg-8">
                    <input class="form-control" value="<%=analist.firstName%>" name="analist[firstName]" type="text" data-validation="required" data-validation-error-msg="The first name is required">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Last name:</label>
                  <div class="col-lg-8">
                    <input class="form-control" value="<%=analist.lastName%>" name="analist[lastName]" type="text" data-validation="required" data-validation-error-msg="The last name is required">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Phone:</label>
                  <div class="col-lg-8">
                    <input class="form-control" value="<%=analist.phone%>" name="analist[phone]" type="text" data-validation="number" data-validation-allowing="range[1000000000;9999999999]" data-validation-optional="true"  data-validation-error-msg="Wrong phone format">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Email:</label>
                  <div class="col-lg-8">
                    <input class="form-control" value="<%=analist.email%>" name="analist[email]" type="email"  data-validation="email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Provider ID</label>
                  <div class="col-lg-8">
                    <input class="form-control" value="<%=analist.providerId%>" name="analist[providerId]" type="text" data-validation="number" data-validation-allowing="range[1000000000;9999999999]" data-validation-optional="true" data-validation-error-msg="The provider Id must be 10 digits">
                  </div>
                </div>
            </div>
        </div>
        <%if(currentUser.type=="superuser"){%>
       <!--Assign and remove clients-->
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="dropdown">
                    <h4 class="page-header">
                        Clients 
                        <button id="add-client-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span><i class="fa fa-plus"></i></span>
                        </button>
                        <ul class="dropdown-menu list-group" aria-labelledby="add-client-dropdown">
                            <%clients.forEach(function(client,index){%>
                                <li  class="list-group-item"><%=client.firstName+" "+client.lastName%></li>
                                <table style="display:none">
                                    <tbody>
                                        <tr class="client-table-row table-row">
                                            <td><%=client.firstName%></td>
                                            <td><%=client.lastName%></td>
                                            <td><%=client.guardian%></td>
                                            <td><%=client.phone%></td>
                                            <td><%=client.diagnosis%></td>
                                            <td><%=client.medicaidNumber%><span class="trash"><i class="fa fa-trash" ></i></span></td>    
                                            <td style="display:none"><input class="table-input" value="<%=client._id%>" name="analist[clients]" disabled="disabled" type="text"></td> 
                                        </tr>
                                    </tbody>
                                </table>
                            <%})%>
                        </ul>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row custom-table">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Legal Guardian</th>
                            <th>Phone</th>
                            <th>Diagnosis</th>
                            <th>Medicaid Number</th>
                        </tr>
                    </thead>
                    <tbody id="client-table">
                        <%analist.clients.forEach(function(client,index){%>
                            <tr class="client-table-row table-row">
                                <td><%=client.firstName%></td>
                                <td><%=client.lastName%></td>
                                <td><%=client.guardian%></td>
                                <td><%=client.phone%></td>
                                <td><%=client.diagnosis%></td>
                                <td><%=client.medicaidNumber%><span class="trash"><i class="fa fa-trash" ></i></span></td>
                                <td style="display:none"><input class="table-input" value="<%=client._id%>" name="analist[clients]" type="text"></td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
        </div>
        <%}%>
        <div class="row">
           <div class="col-md-8 col-sm-6 col-xs-6">
               <input class="btn btn-success" type="submit" value="Save">
               <a class="btn btn-danger"href="/superuser/<%=superuserID%>/analist/<%=analist._id%>">Cancel</a>
           </div>
       </div>
    </form>
</div>
      




<%include ../partials/footer%>



 