<%include ../partials/header%>


<div class="container-fluid" style="padding-top: 60px;">
    <!--Displaying assistant, including delete deactivate and edit buttons-->
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img id="dashPhoto" src="<%=assistant.photo%>" class="avatar img-circle img-thumbnail" alt="avatar">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h2><%=assistant.firstName+" "+assistant.lastName%></h2>
            <a class="btn btn-success"href="/superuser/<%=superuser._id%>/assistant/<%=assistant._id%>/edit">Edit</a>
            <form class="clientButton" method="post" action="/superuser/<%=superuser._id%>/assistant/<%=assistant._id%>?_method=DELETE">
                <input style="display:none" type="text" value="deactivate" name="deleteFlag">
                <button class="btn btn-warning ">Deactivate</button>
            </form>
            <form class="clientButton" method="post" action="/superuser/<%=superuser._id%>/assistant/<%=assistant._id%>?_method=DELETE">
                <button class="btn btn-danger ">Delete</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h4 class="page-header">Info</h4> 
        </div>
    </div>
    <!--Showing assistant attributes on a table-->
    <div class="row custom-table">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row"> Phone</th>
                        <td><%=assistant.phone%></td>
                    </tr>
                    <tr>
                        <th scope="row"> Email</th>
                        <td><%=assistant.email%></td>
                    </tr>
                     <tr>
                        <th scope="row"> Provider ID</th>
                        <td><%=assistant.providerId%></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Displaying all the assistant clients-->
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h4 class="page-header">Clients</h4> 
        </div>
    </div>
    <div class="row custom-table">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Legal Guardian</th>
                        <th>Phone</th>
                        <th>Diagnosis</th>
                        <th>Medicaid Number</th>
                    </tr>
                </thead>
                <tbody>
                    <%assistant.clients.forEach(function(client){%>
                            <tr>
                                <td><%=client.firstName+" "+client.lastName%></td>
                                <td><%=client.guardian%></td>
                                <td><%=client.phone%></td>
                                <td><%=client.diagnosis%></td>
                                <td><%=client.medicaidNumber%></td>
                            </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </div>
</div>





<%include ../partials/footer%>