<%include ../partials/header%>

 <!-- Trigger the modal with a button -->


    <%if(currentUser.type=="superuser"){%>
    <div class="container-fluid" style="padding-top: 60px;">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img id="dashPhoto" src="<%=assistant.photo%>" class="avatar img-circle img-thumbnail" alt="avatar">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h2><%=assistant.firstName+" "+assistant.lastName%></h2>
            <a class="btn btn-success"href="/superuser/<%=superuserID%>/assistant/<%=assistant._id%>/edit">Edit</a>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deactivateModal">Deactivate</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
            <div id="deactivateModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Atention</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class=" btn btn-default" data-dismiss="modal">No</button>
                            <form class="clientButton" method="post" action="/superuser/<%=superuserID%>/assistant/<%=assistant._id%>?_method=DELETE">
                                <input style="display:none" type="text" value="deactivate" name="deleteFlag">
                                <button class="btn btn-default ">Yes</button>
                            </form>
                        </div>
                    </div>
              </div>
            </div>
            <div id="deleteModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Atention</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class=" btn btn-default" data-dismiss="modal">No</button>
                            <form class="clientButton" method="post" action="/superuser/<%=superuserID%>/assistant/<%=assistant._id%>?_method=DELETE">
                                <button class="btn btn-default ">Yes</button>
                            </form>
                        </div>
                    </div>
              </div>
            </div>
        </div>
    </div>
    <%}%>
    <%if(currentUser.type=="assistant"){%>
     <div class="row" id="main" >
        <div class="col-sm-12 col-md-12 well" id="content">
            <h1 id="welcome">Welcome <%=assistant.firstName%></h1>
        </div>
        <div class="container" style="padding-top: 60px;">
            <div class="row">
                <!--Showing superuser atrributes including the picture-->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="thumbnail">
                        <div class="text-center">
                            <img src="<%=assistant.photo%>" class="avatar img-circle img-thumbnail" alt="avatar">
                            <div class="caption">
                                    <h2><%=currentUser.company%></h2>
                                    <h4><strong>Phone: </strong><%=assistant.phone%></h4>
                                    <h4><strong>Email: </strong><%=assistant.email%></h4>
                                    <h4><strong>Provider ID: </strong><%=assistant.providerId%></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <%}%>
     <%if(currentUser.type!="assistant"){%>
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h4 class="page-header">Info</h4> 
        </div>
    </div>
    <!--Showing assistant attributes on a table-->
    <div class="row custom-table">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row"> Phone</th>
                        <td><%=assistant.phone%></td>
                    </tr>
                    <tr>
                        <th scope="row"> Email</th>
                        <td><%=assistant.email%></td>
                    </tr>
                     <tr>
                        <th scope="row"> Provider ID</th>
                        <td><%=assistant.providerId%></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Displaying all the assistant clients-->
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h4 class="page-header">Clients</h4> 
        </div>
    </div>
    <div class="row custom-table">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Legal Guardian</th>
                        <th>Phone</th>
                        <th>Diagnosis</th>
                        <th>Medicaid Number</th>
                    </tr>
                </thead>
                <tbody>
                    <%assistant.clients.forEach(function(client){%>
                            <tr>
                                <td><%=client.firstName+" "+client.lastName%></td>
                                <td><%=client.guardian%></td>
                                <td><%=client.phone%></td>
                                <td><%=client.diagnosis%></td>
                                <td><%=client.medicaidNumber%></td>
                            </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </div>
     <%}%>
 <%if(currentUser.type=="superuser"){%>
</div>
<%}%>




<%include ../partials/footer%>