<%include ../../partials/header%>

<form id="form" method="POST" action="/superuser/<%=superuserID%>/client/<%=clientID%>/report/<%=report._id%>?_method=PUT">
	<div class="doc-name text-center">
        <h4>BEHAVIOR ANALYST DAILY LOG</h4>
    </div>
   <div class="table-responsive">
       <table class="table table-bordered doc-header">
            <tbody>
                <tr>
                    <td><h4>Name of Recipient/Medicaid ID:<%=client.firstName+" "+client.lastName+"/"+client.medicaidNumber%></h4></td>
                     <td><h4>Name of Behavior Analist/Provider ID:<%=analist.firstName+" "+analist.lastName+"/"+analist.providerId%></h4></td>
                     <td class="col-center-daily"rowspan="2">
                    	<h4>Week's Hours/Units:</h4>
                    	<h4><%=hours%>/<%=unit%></h4>
                    </td>
                </tr>
                 <tr>
                    <td><h4>PA #:@98765093</h4></td>
                    <td><h4>Week:<%=report.schedule[0].date+" - "+report.schedule[6].date%></h4></td>
                </tr>
            </tbody>
        </table>
    </div>

	<%report.schedule.forEach(function(day,i){%>
    	<div class="table-responsive"<%if(!(day.timeIn && day.timeIn.length>0)){%>style="display:none"<%}%>>
		   <table class="table table-bordered">
		        <tbody>
		             <thead>
		                <tr>
		                    <th></th>
		                    <th><h4>Duration of Meeting</h4></th>
		                    <th><h4>Brief Description of Performance/Observation</h4></th>
		             
		                </tr>
		            </thead>
		             <tr class="text-center">
		                <td>
		                	<div class="date">
								<h4>Date:</h4>
								<h5><%=day.date%></h5>
							</div>
		                </td>
		                <td>
		                   	<div class="hours">
								<h4>Time in:</h4>
								<h5><%=day.timeIn%></h5>
							</div>
							<div class="hours">
								<h4>Time out:</h4>
								<h5><%=day.timeOut%></h5>
							</div>
							<div class="hours">
								<h4>Units:</h4>
								<h5><%=units[i]%></h5>
							</div>
		                </td>
		                <td>
							<div class="form-group">
								<textarea id="analist-progress" class="form-control input-lg" name="report[analistLog][log][<%=i%>][progress]" data-validation="required"><%if(report.analistLog.log[i]){%><%=report.analistLog.log[i].progress%><%}%></textarea>
							</div>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		</div>
    <%})%>
    <div class="row canvas-area text-center">
    	<div class="col-sm-6 col-xs-12">
    		 <canvas class="analist-canvas" width="290" height="150"></canvas>
    		 <h4>Analist Signature</h4>
    		 <input type="text" class="analist-input" name="report[analistLog][signatures][analist]" style="display:none" value="<%=report.analistLog.signatures.analist%>">
    		 <button type="button" class="btn btn-default activate-analist"  >Activate</button>
    		 <button type="button" class="btn btn-default clear-analist" >Clear</button>
  			 <button type="button" class="btn btn-default save-analist"  >Save</button>
    	</div>
    	<div class="col-sm-6 col-xs-12">
    		 <canvas class="caregiver-canvas" width="290" height="150"></canvas>
    		 <h4>Caregiver Signature</h4>
    		 <input type="text" class="caregiver-input" name="report[analistLog][signatures][caregiver] " style="display:none" value="<%=report.analistLog.signatures.caregiver%>">
    		 <button type="button" class="btn btn-default activate-caregiver"  >Activate</button>
    		 <button type="button" class="btn btn-default clear-caregiver" >Clear</button>
  			 <button type="button" class="btn btn-default save-caregiver"  >Save</button>
    	</div>
    </div>
	 <div class="save-buttons text-center">
    	<button class="btn btn-success btn-lg save">Save</button>
    	<button class="btn btn-success btn-lg submit">Submit</button>
    	<input id="button" type="text" name="report[analistLog][state]" value="Submit" style="display:none">
    </div>
</form>



<%include ../../partials/footer%> 
