<%include ../../partials/header%>

<form id="form" method="POST" action="/superuser/<%=superuserID%>/client/<%=clientID%>/report/<%=report._id%>?_method=PUT">
	<div class="doc-name text-center">
        <h4>BEHAVIOR ASSISTANT DAILY LOG</h4>
    </div>
   <div class="table-responsive">
        <table class="table table-bordered doc-header">
            <tbody>
                <tr>
                    <td><h4>Name of Recipient/Medicaid ID:<%=client.firstName+" "+client.lastName+"/"+client.medicaidNumber%></h4></td>
                    <td><h4>Name of Behavior Technician/Provider ID:<%=assistant.firstName+" "+assistant.lastName+"/"+assistant.providerId%></h4></td>
                    <td class="col-center-daily"rowspan="2">
                    	<h4>Week's Hours/Units:</h4>
                    	<h4><%=hours%>/<%=unit%></h4>
                    </td>
                </tr>
                <tr>
                    <td><h4>PA #:@98765093</h4></td>
                    <td><h4>Week:<%=report.schedule[0].date+" - "+report.schedule[6].date%></h4></td>
                </tr>
            </tbody>
        </table>
    </div>
	<%report.schedule.forEach(function(day,i){%>
		<div class="table-responsive" <%if(!(day.timeIn && day.timeIn.length>0)){%>style="display:none"<%}%>>
		   <table class="table table-bordered">
		        <tbody>
		             <thead>
		                <tr>
		                    <th></th>
		                    <th><h4>Duration of Meeting</h4></th>
		                    <th><h4>Environmental Changes</h4></th>
		                    <th><h4>Brief Description of Performance/Observation</h4></th>
		             
		                </tr>
		            </thead>
		             <tr class="text-center daily">
		                <td>
		                	<div>
								<h4>Date:</h4>
								<h5><%=day.date%></h5>
							</div>
							<div class="form-group">
								<h4>Setting:</h4>
								<select  class="selectpicker" data-width="auto" title="setting" name="report[assistantLog][log][<%=i%>][setting]"  data-validation="required" >
		  							<option <%if(report.assistantLog.log[i].setting=="Home"){%> selected="selected" <%}%>>Home</option>
		  							<option <%if(report.assistantLog.log[i].setting=="Day care"){%> selected="selected" <%}%>>Day care</option>
		  							<option<%if(report.assistantLog.log[i].setting=="Park"){%> selected="selected" <%}%>>Park</option>
								</select>
							</div>
		                </td>
		                <td>
		                	<div>
								<h4>Time in:</h4>
								<h5><%=day.timeIn%></h5>
							</div>
							<div>
								<h4>Time out:</h4>
								<h5><%=day.timeOut%></h5>
							</div>
							<div>
								<h4>Units:</h4>
								<h5><%=units[i]%></h5>
							</div>
		                </td>
		                <td>
		                	<div class="form-group">
								<textarea  class="form-control input-lg" name="report[assistantLog][log][<%=i%>][environmentalChange]" placeholder="Environmental changes" data-validation="required" ><%=report.assistantLog.log[i].environmentalChange%></textarea>
							</div>
		                </td>
		                <td>
		                	<div class="form-inline ">
								<p>
									The client has a 
									<span>
										<select data-validation="required" data-width="20%" name="report[assistantLog][log][<%=i%>][participation]" class="form-control selectpicker" title="participation">
											<option <%if(report.assistantLog.log[i].participation=="poor"){%> selected="selected" <%}%>>poor</option>
											<option <%if(report.assistantLog.log[i].participation=="fair"){%> selected="selected" <%}%>>fair</option>
											<option <%if(report.assistantLog.log[i].participation=="good"){%> selected="selected" <%}%>>good</option>
										</select>
									</span> participation during session. 
								</p>
								<p>
									The physical, behavioral and emotional health status of the client has been 
									<span>
										<input placeholder="status" name="report[assistantLog][log][<%=i%>][status]"type="text"class="form-control" data-validation="required" value="<%=report.assistantLog.log[i].status%>">
									</span>.
								</p>
			    			</div>
			    			<div class="form-group">
								<h4>Target Behaviors Observed:</h4>
								<select class="selectpicker" multiple data-width="100%" name="report[assistantLog][log][<%=i%>][behaviors]"  data-validation="required" title="Target Behaviors Observed">
									<%client.maladaptativeBehaviors.forEach(function(behavior){%>	
										<%if(report.assistantLog.log[i].behaviors.indexOf(behavior.name)>-1){%>
											<option selected="selected"><%=behavior.name%></option>
										<%}%>
										<%if(!(report.assistantLog.log[i].behaviors.indexOf(behavior.name)>-1)){%>
											<option><%=behavior.name%></option>
										<%}%>
									<%})%>
								</select>
							</div>
							<div class="form-group">
								<h4>Implemented interventions:</h4>
								<p>Client showed 
								<select  id="intervention" class="selectpicker" data-width="auto" name="report[assistantLog][log][<%=i%>][intervention][behavior]" title="behavior" data-validation="required">
		  							<%client.maladaptativeBehaviors.forEach(function(behavior){%>	
										<%if(report.assistantLog.log[i].intervention.behavior==behavior.name){%>
											<option selected="selected"><%=behavior.name%></option>
										<%}%>
										<%if(!(report.assistantLog.log[i].intervention.behavior==behavior.name)){%>
											<option><%=behavior.name%></option>
										<%}%>
									<%})%>
								</select>
								,the applied intervention was:
								<select  class="selectpicker" data-width="auto" name="report[assistantLog][log][<%=i%>][intervention][name]" title="intervention" data-validation="required">
									<option <%if(report.assistantLog.log[i].intervention.name=="Alternative sensory activities"){%> selected="selected" <%}%>>Alternative sensory activities</option>
									<option <%if(report.assistantLog.log[i].intervention.name=="Behavioral Momentum"){%> selected="selected" <%}%>>Behavioral Momentum</option>  
									<option <%if(report.assistantLog.log[i].intervention.name=="DRA"){%> selected="selected" <%}%>>DRA</option>
									<option <%if(report.assistantLog.log[i].intervention.name=="DRI"){%> selected="selected" <%}%>>DRI</option>
									<option <%if(report.assistantLog.log[i].intervention.name=="DRO"){%> selected="selected" <%}%>>DRO</option>
									<option <%if(report.assistantLog.log[i].intervention.name=="Enviromental manipulation"){%> selected="selected" <%}%>>Enviromental manipulation</option>
									<option <%if(report.assistantLog.log[i].intervention.name=="Interruption/redirection"){%> selected="selected" <%}%>>Interruption/redirection</option>
									<option <%if(report.assistantLog.log[i].intervention.name=="Planned ignoring and extinction"){%> selected="selected" <%}%>>Planned ignoring and extinction</option>
									<option <%if(report.assistantLog.log[i].intervention.name=="Premack principle"){%> selected="selected" <%}%>>Premack principle</option>
									<option <%if(report.assistantLog.log[i].intervention.name=="Response blocked"){%> selected="selected" <%}%>>Response blocked</option>
									<option <%if(report.assistantLog.log[i].intervention.name=="Taking turns"){%> selected="selected" <%}%>>Taking turns</option>						
								</select>
								It
								<select  class="selectpicker" name="report[assistantLog][log][<%=i%>][intervention][result]" data-width="auto" title="result" data-validation="required">
		  							<option <%if(report.assistantLog.log[i].intervention.result=="works"){%> selected="selected" <%}%>>works</option>
		  							<option <%if(report.assistantLog.log[i].intervention.result=="does not work"){%> selected="selected" <%}%>>does not work</option>
								</select>
								at this time
								</p>
							</div>
							<div class="form-group">
								<h4>Implemented Replacements:</h4>
								<select class="selectpicker" multiple data-width="100%" name="report[assistantLog][log][<%=i%>][replacements]" title="Implemented replacements" data-validation="required">
									<%client.replacementsBehaviors.forEach(function(replacement){%>	
											<%if(report.assistantLog.log[i].replacements.indexOf(replacement.name)>-1){%>
												<option selected="selected"><%=replacement.name%></option>
											<%}%>
											<%if(!(report.assistantLog.log[i].replacements.indexOf(replacement.name)>-1)){%>
												<option><%=replacement.name%></option>
											<%}%>
									<%})%>
								</select>
							</div>
							<div class="form-group">
								<h4> Reinforces used today:<h4> 
								<select  class="selectpicker" data-width="auto" name="report[assistantLog][log][<%=i%>][reinforces]" title="Reinforces" data-validation="required">
		  							<option <%if(report.assistantLog.log[i].reinforces=="Edibles"){%> selected="selected" <%}%>>Edibles</option>
		  							<option <%if(report.assistantLog.log[i].reinforces=="Non-Edibles"){%> selected="selected" <%}%>>Non-Edibles</option>
		  							<option <%if(report.assistantLog.log[i].reinforces=="Other"){%> selected="selected" <%}%>>Other</option>
								</select>
							</div>
							<div class="form-group">
								<h4>Today's Progress:<h4> 
								<textarea class="form-control input-lg" name="report[assistantLog][log][<%=i%>][progress]" data-validation="required"><%if(report.assistantLog.log[i]){%><%=report.assistantLog.log[i].progress%><%}%></textarea>
							</div>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		</div>
    <%})%>
    <div class="row canvas-area text-center">
    	<div class="col-md-4 col-sm-12 col-xs-12">
    		 <canvas class="assistant-canvas" width="290" height="150" ></canvas>
    		 <h4>Assistant Signature</h4>
    		 <input type="text" class="assistant-input" name="report[assistantLog][signatures][assistant]" style="display:none" value="<%=report.assistantLog.signatures.assistant%>">
    		 <button type="button" class="btn btn-default activate-assistant">Activate</button>
    		 <button type="button" class="btn btn-default clear-assistant" >Clear</button>
  			 <button type="button" class="btn btn-default save-assistant"  >Save</button>
    	</div>
    	<div class="col-md-4 col-sm-12 col-xs-12">
    		 <canvas class="analist-canvas" width="290" height="150"></canvas>
    		 <h4>Analist Signature</h4>
    		 <input type="text" class="analist-input" name="report[assistantLog][signatures][analist]" style="display:none" value="<%=report.assistantLog.signatures.analist%>">
    		 <button type="button" class="btn btn-default activate-analist"  >Activate</button>
    		 <button type="button" class="btn btn-default clear-analist" >Clear</button>
  			 <button type="button" class="btn btn-default save-analist"  >Save</button>
    	</div>
    	<div  class="col-md-4 col-sm-12 col-xs-12">
    		 <canvas class="caregiver-canvas" width="290" height="150"></canvas>
    		 <h4>Caregiver Signature</h4>
    		 <input type="text" class="caregiver-input" name="report[assistantLog][signatures][caregiver]" style="display:none" value="<%=report.assistantLog.signatures.caregiver%>">
    		 <button type="button" class="btn btn-default activate-caregiver"  >Activate</button>
    		 <button type="button" class="btn btn-default clear-caregiver" >Clear</button>
  			 <button type="button" class="btn btn-default save-caregiver"  >Save</button>
    	</div>
    </div>
     <div class="save-buttons text-center">
    	<button class="btn btn-success btn-lg save">Save</button>
    	<button class="btn btn-success btn-lg submit">Submit</button>
    	<input id="button" type="text" name="report[assistantLog][state]" value="Submit" style="display:none">
    </div>
</form>


<%include ../../partials/footer%>