<%include ../../partials/header%>
		
<form id="form" method="POST" action="/superuser/<%=superuserID%>/client/<%=clientID%>/report/<%=report._id%>?_method=PUT">
	<div class="doc-name text-center">
        <h4>MALADAPTATIVE BEHAVIOR DATA COLLECTION</h4>
    </div>
   <div class="table-responsive">
       <table class="table table-bordered doc-header">
            <tbody>
                <tr>
                    <td><h4>Name of Recipient/Medicaid ID:<%=client.firstName+" "+client.lastName+"/"+client.medicaidNumber%></h4></td>
                    <td><h4>Name of Behavior Technician/Provider ID:<%=assistant.firstName+" "+assistant.lastName+"/"+assistant.providerId%></h4></td>
                </tr>
                 <tr>
                    <td><h4>PA #:<%if(assistantApprovalCurrent){%><%=assistantApprovalCurrent.number%><%}%></h4></td>
					<td><h4>Week:<%=report.schedule[0].date+" - "+report.schedule[6].date%></h4></td>
					
                </tr>
            </tbody>
        </table>
    </div>
	<div class="container">
		<div class="text-center">
			<h4 class="page-header"><%=client.maladaptativeBehaviors[behavior].name%></h4>
			<input style="display:none" type="text" name="report[behavior][name]" value="<%=client.maladaptativeBehaviors[behavior].name%>">
		</div>
	    <div class="text-center behavior-collection-header-container">
		    <h5  class="behavior-collection-header">Frequency:
				<span id="frequency"><%=frequency%></span>
			</h5>
		    <h5 class="behavior-collection-header">Baseline:<span id="baseline"><%=client.maladaptativeBehaviors[behavior].baseline%></span></h5>
	    </div>
	    <%if(!(client.maladaptativeBehaviors[behavior].name=="tantrum" || client.maladaptativeBehaviors[behavior].name=="elopement" || client.maladaptativeBehaviors[behavior].name=="physical aggression" || client.maladaptativeBehaviors[behavior].name=="property destruction")){%>   <!--No Intensity-->
	     <div class="table-responsive">
	       <table class="table table-bordered table-condensed behavior-collection text-center">
	            <tbody>
	                <tr>
                        <td><h5></h5></td>
	                    <td><h5>F</h5></td>
	                    <td><h5>F</h5></td>
	                    <td><h5>F</h5></td>
	                    <td><h5>F</h5></td>
	                    <td><h5>F</h5></td>
	                    <td><h5>F</h5></td>
	                    <td><h5>F</h5></td>
                    </tr>
	                <%for(i=20;i>0;i--){%>
		                <tr>
		                    <td><h5><%=i%></h5></td>
		                    <td id="1A<%=i%>" class="cellNonintensity"><%if(report.behavior[behavior].frequency[0]>=i){%>X<%}%></td>
		                    <td id="2A<%=i%>" class="cellNonintensity"><%if(report.behavior[behavior].frequency[1]>=i){%>X<%}%></td>
		                    <td id="3A<%=i%>" class="cellNonintensity"><%if(report.behavior[behavior].frequency[2]>=i){%>X<%}%></td>
		                    <td id="4A<%=i%>" class="cellNonintensity"><%if(report.behavior[behavior].frequency[3]>=i){%>X<%}%></td>
		                    <td id="5A<%=i%>" class="cellNonintensity"><%if(report.behavior[behavior].frequency[4]>=i){%>X<%}%></td>
		                    <td id="6A<%=i%>" class="cellNonintensity"><%if(report.behavior[behavior].frequency[5]>=i){%>X<%}%></td>
		                    <td id="7A<%=i%>" class="cellNonintensity"><%if(report.behavior[behavior].frequency[6]>=i){%>X<%}%></td>
		                </tr>
	                 <%}%>
	                 <%for(i=1;i<8;i++){%>
	                 <input id="<%=i%>" style="display:none" type="number" name="report[behavior][frequency]" value="<%=report.behavior[behavior].frequency[i-1]%>">
	                 <%}%>
	                    <tr>
							<td><h5>Days</h5></td>
							<%for(let i=0;i<7;i++){%>
								<td><h5><%=report.schedule[i].date%></h5></td>
							<%}%>
	                    </tr>
	            </tbody>
	        </table>
	    </div>
	    <%}%>
	    <%if(client.maladaptativeBehaviors[behavior].name=="tantrum" || client.maladaptativeBehaviors[behavior].name=="elopement" || client.maladaptativeBehaviors[behavior].name=="physical aggression" || client.maladaptativeBehaviors[behavior].name=="property destruction"){%>  <!--Intensity-->
	     <div class="table-responsive">
	       <table class="table table-bordered table-condensed text-center">
	            <tbody>
	                <tr>
                        <td><h5></h5></td>
	                    <td><h5>F</h5></td>
	                    <td><h5>I</h5></td>
	                    <td><h5>F</h5></td>
	                    <td><h5>I</h5></td>
	                    <td><h5>F</h5></td>
	                    <td><h5>I</h5></td>
	                    <td><h5>F</h5></td>
	                    <td><h5>I</h5></td>
	                    <td><h5>F</h5></td>
	                    <td><h5>I</h5></td>
	                    <td><h5>F</h5></td>
	                    <td><h5>I</h5></td>
	                    <td><h5>F</h5></td>
	                    <td><h5>I</h5></td>
                    </tr>
	                <%for(i=20;i>=1;i--){%>
		                <tr>
		                    <td><h5><%=i%></h5></td>
		                    <td id="1F<%=i%>" class="cellIntensityFrequency"><%if(report.behavior[behavior].frequency[0]>=i){%>X<%}%></td>
		                    <td id="1I<%=i%>" class="cellIntensity"><%=report.behavior[behavior].intensity[0][i-1]%></td>
		                    <input id="1N<%=i%>" style="display:none" type="number" name="report[behavior][intensity][0][<%=i-1%>]" value="<%=report.behavior[behavior].intensity[0][i-1]%>">
		                    <td id="2F<%=i%>" class="cellIntensityFrequency"><%if(report.behavior[behavior].frequency[1]>=i){%>X<%}%></td>
		                    <td id="2I<%=i%>" class="cellIntensity"><%=report.behavior[behavior].intensity[1][i-1]%></td>
		                    <input id="2N<%=i%>" style="display:none" type="number" name="report[behavior][intensity][1][<%=i-1%>]" value="<%=report.behavior[behavior].intensity[1][i-1]%>">
		                    <td id="3F<%=i%>" class="cellIntensityFrequency"><%if(report.behavior[behavior].frequency[2]>=i){%>X<%}%></td>
		                    <td id="3I<%=i%>" class="cellIntensity"><%=report.behavior[behavior].intensity[2][i-1]%></td>
		                    <input id="3N<%=i%>" style="display:none" type="number" name="report[behavior][intensity][2][<%=i-1%>]" value="<%=report.behavior[behavior].intensity[2][i-1]%>">
		                    <td id="4F<%=i%>" class="cellIntensityFrequency"><%if(report.behavior[behavior].frequency[3]>=i){%>X<%}%></td>
		                    <td id="4I<%=i%>" class="cellIntensity"><%=report.behavior[behavior].intensity[3][i-1]%></td>
		                    <input id="4N<%=i%>" style="display:none" type="number" name="report[behavior][intensity][3][<%=i-1%>]" value="<%=report.behavior[behavior].intensity[3][i-1]%>">
		                    <td id="5F<%=i%>" class="cellIntensityFrequency"><%if(report.behavior[behavior].frequency[4]>=i){%>X<%}%></td>
		                    <td id="5I<%=i%>" class="cellIntensity"><%=report.behavior[behavior].intensity[4][i-1]%></td>
		                    <input id="5N<%=i%>" style="display:none" type="number" name="report[behavior][intensity][4][<%=i-1%>]" value="<%=report.behavior[behavior].intensity[4][i-1]%>">
		                    <td id="6F<%=i%>" class="cellIntensityFrequency"><%if(report.behavior[behavior].frequency[5]>=i){%>X<%}%></td>
		                    <td id="6I<%=i%>" class="cellIntensity"><%=report.behavior[behavior].intensity[5][i-1]%></td>
		                    <input id="6N<%=i%>" style="display:none" type="number" name="report[behavior][intensity][5][<%=i-1%>]" value="<%=report.behavior[behavior].intensity[5][i-1]%>">
		                    <td id="7F<%=i%>" class="cellIntensityFrequency"><%if(report.behavior[behavior].frequency[6]>=i){%>X<%}%></td>
		                    <td id="7I<%=i%>" class="cellIntensity"><%=report.behavior[behavior].intensity[6][i-1]%></td>
		                    <input id="7N<%=i%>" style="display:none" type="number" name="report[behavior][intensity][6][<%=i-1%>]" value="<%=report.behavior[behavior].intensity[6][i-1]%>">
						</tr>

	                 <%}%>
	                 <%for(i=1;i<8;i++){%>
	                 <input id="<%=i%>" style="display:none" type="number" name="report[behavior][frequency]" value="<%=report.behavior[behavior].frequency[i-1]%>">
	                 <%}%>
	                    <tr>
	                        <td><h5>Days</h5></td>
							<%for(let i=0;i<7;i++){%>
								<td colspan="2"><h5><%=report.schedule[i].date%></h5></td>
							<%}%>
	                    </tr>
	            </tbody>
	        </table>
	    </div>
	    <%}%>
	</div>
    <div class="row canvas-area">
		
    	<div class="col-sm-6 col-xs-12 text-center" <%if(currentUser.type=="analist"){%>style="display:none"<%}%>>
    		 <canvas class="assistant-canvas" width="290" height="150" ></canvas>
    		 <h4>Assistant Signature</h4>
    		 <input type="text" class="assistant-input" name="report[behavior][signatures][assistant]" style="display:none" value="<%=report.behavior[behavior].signatures.assistant%>">
    		 <button type="button" class="btn btn-default activate-assistant">Activate</button>
    		 <button type="button" class="btn btn-default clear-assistant" >Clear</button>
  			 <button type="button" class="btn btn-default save-assistant"  >Save</button>
		</div>
	
	
    	<div class="col-sm-6 col-xs-12 text-center" <%if(currentUser.type=="assistant"){%>style="display:none"<%}%>>
    		 <canvas class="analist-canvas" width="290" height="150"></canvas>
    		 <h4>Analist Signature</h4>
    		 <input type="text" class="analist-input" name="report[behavior][signatures][analist]" style="display:none" value="<%=report.behavior[behavior].signatures.analist%>">
    		 <button type="button" class="btn btn-default activate-analist"  >Activate</button>
    		 <button type="button" class="btn btn-default clear-analist" >Clear</button>
  			 <button type="button" class="btn btn-default save-analist"  >Save</button>
		</div>
	
    </div>
    <div class="save-buttons text-center">
    	<button class="btn btn-success btn-lg save">Save</button>
		<button class="btn btn-success btn-lg submit">Submit</button>

		<%if(currentUser.type=="analist"){%>
		<input class="analist" id="button" type="text" name="report[behavior][state]" value="<%=report.behavior[behavior].state%>" style="display:none">
		<%}%>
		<%if(currentUser.type=="assistant"){%>
		<input id="button" class="assistant" type="text" name="report[behavior][state]" value="<%=report.behavior[behavior].state%>" style="display:none">	
		<%}%>
		<%if(currentUser.type=="superuser"){%>
		<input id="button" class="superuser" type="text" name="report[behavior][state]" value="<%=report.behavior[behavior].state%>" style="display:none">	
		<%}%>
    </div>
</form>


<%include ../../partials/footer%>