<%include ../../partials/header%>
		
<form id="form" method="POST" action="/caregiver">	
	<div class="doc-name text-center">
        <h4>CAREGIVER COMPETENCY CHECK</h4>
    </div>
   <div class="table-responsive">
        <table class="table table-bordered doc-header">
            <tbody>
                <tr>
                   <td><h4>Name of Recipient/Medicaid ID:<%=client.firstName+" "+client.lastName+"/"+client.medicaidNumber%></h4></td>
                    <td><h4>Name of Behavior Analist/Provider ID:<%=analist.firstName+" "+analist.lastName+"/"+analist.providerId%></h4></td>
                </tr>
                <tr>
                    <td><h4>PA #:@98765093</h4></td>
                    <td><h4>Week:<%=report.schedule[0].date+" - "+report.schedule[6].date%></h4></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
	   <table class="table table-bordered">
	        <tbody>
	             <thead>
	                <tr class="date-row">
	                    <th class="text-center"><h4>Evaluation Parameter <i class="fa fa-plus" aria-hidden="true"></i></h4></th>
	                    <th class="0">
	                        <div class="form-group text-center">
	                        <label> <span class="trash"><i class="fa fa-trash" ></i></span> Date:</label>
	                        <input class="form-control" type="date" name="date" data-validation="required"> 
	                        </div>
	                    </th>
	                </tr>
	            </thead>
	             <tr class="text-center performance-row">
	                <td>
						<p>Caregiver was able to recognize incidents of maladaptative behaviors as ocurred today and collect data</p>
							
	                </td>
	                <td class="0">
	                   	<div class="form-group">
				            <select class="selectpicker" data-width="100%" name="performance[0]" title="Supervisee performance" data-validation="required">
  					            <option data-subtext="No response">0</option>
  					            <option data-subtext="Verbal cues and modeling">1</option>
  					            <option data-subtext="Verbal cues and pointing">2</option>
  					            <option data-subtext="Verbal cues">3</option>
  					            <option data-subtext="Independent">4</option>
				            </select>
		                </div>
	                </td>
	            </tr>
	            <tr class="text-center performance-row">
	                <td>
						<p>Caregiver followed recommended intervention/procedures upon ocurrence of maladaptative behaviors in session</p>
							
	                </td>
	                <td class="0">
	                   	<div class="form-group">
				            <select class="selectpicker" data-width="100%" name="performance[0]" title="Supervisee performance" data-validation="required">
  					            <option data-subtext="No response">0</option>
  					            <option data-subtext="Verbal cues and modeling">1</option>
  					            <option data-subtext="Verbal cues and pointing">2</option>
  					            <option data-subtext="Verbal cues">3</option>
  					            <option data-subtext="Independent">4</option>
				            </select>
		                </div>
	                </td>
	            </tr>
	            <tr class="text-center performance-row">
	                <td>
						<p>Caregiver provided reinforcers/reinforcement in accordance with the Behavior Support Plan</p>
							
	                </td>
	                <td class="0">
	                   	<div class="form-group">
				            <select class="selectpicker" data-width="100%" name="performance[0]" title="Supervisee performance" data-validation="required">
  					            <option data-subtext="No response">0</option>
  					            <option data-subtext="Verbal cues and modeling">1</option>
  					            <option data-subtext="Verbal cues and pointing">2</option>
  					            <option data-subtext="Verbal cues">3</option>
  					            <option data-subtext="Independent">4</option>
				            </select>
		                </div>
	                </td>
	            </tr>
	            <tr class="text-center performance-row">
	                <td>
						<p>Caregiver implemented the acquisitions/replacements programs and recorded data</p>
							
	                </td>
	                <td class="0">
	                   	<div class="form-group">
				            <select class="selectpicker" data-width="100%" name="performance[0]" title="Supervisee performance" data-validation="required">
  					            <option data-subtext="No response">0</option>
  					            <option data-subtext="Verbal cues and modeling">1</option>
  					            <option data-subtext="Verbal cues and pointing">2</option>
  					            <option data-subtext="Verbal cues">3</option>
  					            <option data-subtext="Independent">4</option>
				            </select>
		                </div>
	                </td>
	            </tr>
	            <tr class="text-center performance-row">
	                <td>
						<p>Caregiver can indicate when the behavior ocurred across setting and people, and the effectiveness of the plan's implementation (programming for generalization)</p>
							
	                </td>
	                <td class="0">
	                   	<div class="form-group">
				            <select class="selectpicker" data-width="100%" name="performance[0]" title="Supervisee performance" data-validation="required">
  					            <option data-subtext="No response">0</option>
  					            <option data-subtext="Verbal cues and modeling">1</option>
  					            <option data-subtext="Verbal cues and pointing">2</option>
  					            <option data-subtext="Verbal cues">3</option>
  					            <option data-subtext="Independent">4</option>
				            </select>
		                </div>
	                </td>
	            </tr>
	            <tr class="text-center performance-row">
	                <td>
						<p>Verbally reported about major changes in the environment, daily activity schedule, medical status, or severity of problem behaviors, along with new behaviors ocurring, and difficulty implementing behavior plan as is</p>
							
	                </td>
	                <td class="0">
	                   	<div class="form-group">
				            <select class="selectpicker" data-width="100%" name="performance[0]" title="Supervisee performance" data-validation="required">
  					            <option data-subtext="No response">0</option>
  					            <option data-subtext="Verbal cues and modeling">1</option>
  					            <option data-subtext="Verbal cues and pointing">2</option>
  					            <option data-subtext="Verbal cues">3</option>
  					            <option data-subtext="Independent">4</option>
				            </select>
		                </div>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
    <div class="row canvas-area text-center">
    	<div class="col-sm-6 col-xs-12">
    		 <canvas class="analist-canvas" width="290" height="150"></canvas>
    		 <h4>Analist Signature</h4>
    		 <input type="text" class="analist-input" name="report[caregiver][signatures][analist]" style="display:none" value="<%=report.caregiver.signatures.analist%>">
    		 <button type="button" class="btn btn-default activate-analist"  >Activate</button>
    		 <button type="button" class="btn btn-default clear-analist" >Clear</button>
  			 <button type="button" class="btn btn-default save-analist"  >Save</button>
    	</div>
    	<div class="col-sm-6 col-xs-12">
    		 <canvas class="caregiver-canvas" width="290" height="150"></canvas>
    		 <h4>Caregiver Signature</h4>
    		 <input type="text" class="caregiver-input" name="report[caregiver][signatures][caregiver] " style="display:none" value="<%=report.caregiver.signatures.caregiver%>">
    		 <button type="button" class="btn btn-default activate-caregiver"  >Activate</button>
    		 <button type="button" class="btn btn-default clear-caregiver" >Clear</button>
  			 <button type="button" class="btn btn-default save-caregiver"  >Save</button>
    	</div>
    </div>
     <div class="save-buttons text-center">
    	<button class="btn btn-success btn-lg save">Save</button>
    	<button class="btn btn-success btn-lg submit">Submit</button>
    	<input id="button" type="text" name="report[caregiver][state]" value="Submit" style="display:none">
    </div>
</form>
	
	
	<%include ../../partials/footer%>