<%include ../../partials/header%>
	
<form id="form" method="POST" action="/superuser/<%=superuserID%>/client/<%=clientID%>/report/<%=report._id%>?_method=PUT">
	<div class="doc-name text-center">
        <h4>MEDICAL VISIT LOG</h4>
    </div>
    <div class="table-responsive">
       <table class="table table-bordered doc-header">
            <tbody>
                <tr>
                     <td><h4>Name of Recipient/Medicaid ID:<%=report.recipient.firstName+" "+report.recipient.lastName+"/"+report.recipient.medicaidNumber%></h4></td>
                    <td><h4>Name of Behavior Technician/Provider ID:<%=report.author.firstName+" "+report.author.lastName+"/"+report.author.providerId%></h4></td>
                </tr>
                 <tr>
                    <td><h4>PA #: <%=report.recipient.approvalNumber%></h4></td>
                    <td ><h4>Week:<%=report.schedule[0].date+" - "+report.schedule[6].date%></h4></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div  id="dates" style="display:none">
            
            <% report.schedule.forEach(function(day){%>
                    <option><%=day.date%></option>
            <%})%>
        
    </div>
    <input  style="display:none" type="text" name="checker" value="medical">
    <div class="medical-visit">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-header header-wide">Medical Visit<i class="fa fa-plus fa-plus-medical" aria-hidden="true"></i></h4>  
            </div>
        </div>
        <%if(report.medical.medicalVisit[0]){%>
        <%report.medical.medicalVisit.forEach(function(visit,index){%>
	    <div class="row medical-visit-row">
            <div class="col-md-3 col-sm-12">
                <div class="form-inline">
                    <label>Doctor: </label>
		            <select class="selectpicker index-medical" data-width="50%" name="report[medical][medicalVisit][<%=index%>][doctor]" title="Doctor" data-validation="required">
  			            <option <%if(report.medical.medicalVisit[index].doctor=="Pediatrician"){%> selected="selected" <%}%>>Pediatrician</option>
  			            <option <%if(report.medical.medicalVisit[index].doctor=="Neurologist"){%> selected="selected" <%}%>>Neurologist</option>
  			            <option <%if(report.medical.medicalVisit[index].doctor=="Psychiatrist"){%> selected="selected" <%}%>>Psychiatrist</option>
  			            <option <%if(report.medical.medicalVisit[index].doctor=="Other"){%> selected="selected" <%}%>> Other</option>
		            </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-inline">
                    <label>Reason: </label>
                    <input type="text"class="form-control wide" placeholder="Reason" name="report[medical][medicalVisit][<%=index%>][reason]" value="<%=report.medical.medicalVisit[index].reason%>" data-validation="required">
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="form-inline">
                    <label>Date: </label>
                    <select  class="selectpicker" data-width="auto" name="report[medical][medicalVisit][<%=index%>][date]" title="Date" data-validation="required">
                        <% report.schedule.forEach(function(day){%>
                                <option<%if(report.medical.medicalVisit[index].date==day.date){%> selected="selected" <%}%>><%=day.date%></option>
                        <%})%>
                    </select>
                    <span class="trash"><i class="fa fa-trash" ></i></span>
                </div>
            </div>
        </div>
        <%})%>
        <%}%>
    </div>
    <div class="medication-change">
       <div class="row ">
	      <div class="col-md-12">
	          <h4 class="page-header header-wide">Medication <i class="fa fa-plus fa-plus-medication" aria-hidden="true"></i></h4>  
	      </div>
       </div>
        <%if(report.medical.medication[0]){%>
        <%report.medical.medication.forEach(function(med,index){%>
        <div class="row medication-row">
            <div class="col-md-6">
                <div class="form-inline">
                    <label>Medication: </label>
                    <input type="text"class="form-control wide" placeholder="medication" name="report[medical][medication][<%=index%>][name]" value="<%=report.medical.medication[index].name%>" data-validation="required">
                </div>
            
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    <label>Action: </label>
		            <select class="selectpicker index-medication" data-width="20%" name="report[medical][medication][<%=index%>][action]" title="Action" data-validation="required">
  			            <option <%if(report.medical.medication[index].action=="Add"){%> selected="selected" <%}%>>Add</option>
  			            <option <%if(report.medical.medication[index].action=="Increase dosage"){%> selected="selected" <%}%>>Increase dosage</option>
  			            <option <%if(report.medical.medication[index].action=="Decrease dosage"){%> selected="selected" <%}%>>Decrease dosage</option>
		            </select>
		            <span class="trash"><i class="fa fa-trash" ></i></span>
                </div>
            </div>
        </div>
         <%})%>
        <%}%>
    </div>
    <div class="row canvas-area">
        
    	<div class="col-sm-6 col-xs-12 text-center" <%if(currentUser.type=="analyst"){%>style="display:none"<%}%>>
    		 <canvas class="assistant-canvas" width="290" height="150" ></canvas>
    		 <h4>Assistant Signature</h4>
    		 <input type="text" class="assistant-input" name="report[medical][signatures][assistant]" style="display:none" value="<%=report.medical.signatures.assistant%>">
    		 <button type="button" class="btn btn-default activate-assistant">Activate</button>
    		 <button type="button" class="btn btn-default clear-assistant" >Clear</button>
  			 <button type="button" class="btn btn-default save-assistant"  >Save</button>
        </div>
    	<div class="col-sm-6 col-xs-12 text-center" <%if(currentUser.type=="analyst"){%>style="display:none"<%}%>>
    		 <canvas class="caregiver-canvas" width="290" height="150"></canvas>
    		 <h4>Caregiver Signature</h4>
    		 <input type="text" class="caregiver-input" name="report[medical][signatures][caregiver] " style="display:none" value="<%=report.medical.signatures.caregiver%>">
    		 <button type="button" class="btn btn-default activate-caregiver"  >Activate</button>
    		 <button type="button" class="btn btn-default clear-caregiver" >Clear</button>
  			 <button type="button" class="btn btn-default save-caregiver"  >Save</button>
        </div>
        
    </div>
    <div class="save-buttons text-center">
    	<button class="btn btn-success btn-lg save">Save</button>
        <button class="btn btn-success btn-lg submit">Submit</button>
        <%if(currentUser.type=="assistant"){%>
        <input id="button" class="assistant" type="text" name="report[medical][state]" value="<%=report.medical.state%>" style="display:none">
        <%}%>
         <%if(currentUser.type=="analyst"){%>
        <input id="button" class="analyst" type="text" name="report[medical][state]" value="<%=report.medical.state%>" style="display:none">
        <%}%>
         <%if(currentUser.type=="superuser"){%>
        <input id="button" class="superuser" type="text" name="report[medical][state]" value="<%=report.medical.state%>" style="display:none">
        <%}%>
    </div>
</form>



<%include ../../partials/footer%>	
