<%include ../../partials/header%>
	
<form id="form" method="POST" action="/superuser/<%=superuserID%>/client/<%=clientID%>/report/<%=report._id%>?_method=PUT">
	<div class="doc-name text-center">
        <h4>REPLACEMENT BEHAVIOR DATA COLLECTION</h4>
    </div>
   <div class="table-responsive">
       <table class="table table-bordered doc-header">
           <tbody>
                <tr>
                    <td><h4>Name of Recipient/Medicaid ID:<%=client.firstName+" "+client.lastName+"/"+client.medicaidNumber%></h4></td>
                    <td><h4>Name of Behavior Technician/Provider ID:<%=assistant.firstName+" "+assistant.lastName+"/"+assistant.providerId%></h4></td>
                </tr>
                 <tr>
                    <td><h4>PA #:<%if(assistantApprovalCurrent){%><%=assistantApprovalCurrent.number%><%}%></h4></td>
					<td><h4>Week:<%=report.schedule[0].date+" - "+report.schedule[6].date%></h4></td>
					
                </tr>
            </tbody>
        </table>
    </div>
	<div class="container">
	    <div class="text-center">
			<h4 class="page-header"><%=client.replacementsBehaviors[replacement].name%></h4>
			<input style="display:none" type="text" name="report[replacement][name]" value="<%=client.replacementsBehaviors[replacement].name%>">
	    </div>
	    <div class="text-center behavior-collection-header-container">
		    <h5  class="behavior-collection-header">Trials: <span id="trialsTotal"><%=trials%></span></h5>
		    <h5  class="behavior-collection-header">Completed: <span id="trialsCompleted"><%=completed%></span></h5>
		    <h5  class="behavior-collection-header">Porcentage: <span id="porcentage"><%=porcentage%></span></h5>
		    <h5 class="behavior-collection-header">Baseline:<span id="baseline"><%=client.replacementsBehaviors[replacement].baseline%></span></h5>
	    </div>
	     <div class="table-responsive">
	        <table class="table table-bordered table-condensed text-center">
	            <tbody>
	                <tr>
						<td><h5></h5></td>
						<%for(let i=0;i<7;i++){%>
							<%if(report.schedule[i].timeIn && report.schedule[i].timeIn.length>0){%>
								<td><h5>Trial</h5></td>
	                    		<td><h5>Completed</h5></td>
							<%}%>
						<%}%>
                    </tr>
	                <%for(i=20;i>0;i--){%>
		                <tr>
		                    <td><h5><%=i%></h5></td>
							<%if(report.schedule[0].timeIn && report.schedule[0].timeIn.length>0){%>
							<td id="1T<%=i%>" class="cellTrial"><%if(report.replacement[replacement].trials[0]>=i){%>X<%}%></td>
		                    <td id="1C<%=i%>" class="cellCompletion"><%if(report.replacement[replacement].completion[0][i-1]=="1"){%>Yes<%}%><%if(report.replacement[replacement].completion[0][i-1]=="0"){%>No<%}%></td>
							<%}%>
							
							<input id="1N<%=i%>" style="display:none" type="number" name="report[replacement][completion][0][<%=i-1%>]" value="<%=report.replacement[replacement].completion[0][i-1]%>">
							<%if(report.schedule[1].timeIn && report.schedule[1].timeIn.length>0){%>
							<td id="2T<%=i%>" class="cellTrial"><%if(report.replacement[replacement].trials[1]>=i){%>X<%}%></td>
		                    <td id="2C<%=i%>" class="cellCompletion"><%if(report.replacement[replacement].completion[1][i-1]=="1"){%>Yes<%}%><%if(report.replacement[replacement].completion[1][i-1]=="0"){%>No<%}%></td>
							<%}%>
							
							<input id="2N<%=i%>" style="display:none" type="number" name="report[replacement][completion][1][<%=i-1%>]" value="<%=report.replacement[replacement].completion[1][i-1]%>">
							<%if(report.schedule[2].timeIn && report.schedule[2].timeIn.length>0){%>
							<td id="3T<%=i%>" class="cellTrial"><%if(report.replacement[replacement].trials[2]>=i){%>X<%}%></td>
		                    <td id="3C<%=i%>" class="cellCompletion"><%if(report.replacement[replacement].completion[2][i-1]=="1"){%>Yes<%}%><%if(report.replacement[replacement].completion[2][i-1]=="0"){%>No<%}%></td>
							<%}%>
							
							<input id="3N<%=i%>" style="display:none" type="number" name="report[replacement][completion][2][<%=i-1%>]" value="<%=report.replacement[replacement].completion[2][i-1]%>">
							<%if(report.schedule[3].timeIn && report.schedule[3].timeIn.length>0){%>
							<td id="4T<%=i%>" class="cellTrial"><%if(report.replacement[replacement].trials[3]>=i){%>X<%}%></td>
		                    <td id="4C<%=i%>" class="cellCompletion"><%if(report.replacement[replacement].completion[3][i-1]=="1"){%>Yes<%}%><%if(report.replacement[replacement].completion[3][i-1]=="0"){%>No<%}%></td>
							<%}%>
							<input id="4N<%=i%>" style="display:none" type="number" name="report[replacement][completion][3][<%=i-1%>]" value="<%=report.replacement[replacement].completion[3][i-1]%>">
							
							<%if(report.schedule[4].timeIn && report.schedule[4].timeIn.length>0){%>
							<td id="5T<%=i%>" class="cellTrial"><%if(report.replacement[replacement].trials[4]>=i){%>X<%}%></td>
		                    <td id="5C<%=i%>" class="cellCompletion"><%if(report.replacement[replacement].completion[4][i-1]=="1"){%>Yes<%}%><%if(report.replacement[replacement].completion[4][i-1]=="0"){%>No<%}%></td>
							<%}%>
							<input id="5N<%=i%>" style="display:none" type="number" name="report[replacement][completion][4][<%=i-1%>]" value="<%=report.replacement[replacement].completion[4][i-1]%>">
							
							<%if(report.schedule[5].timeIn && report.schedule[5].timeIn.length>0){%>
							<td id="6T<%=i%>" class="cellTrial"><%if(report.replacement[replacement].trials[5]>=i){%>X<%}%></td>
		                    <td id="6C<%=i%>" class="cellCompletion"><%if(report.replacement[replacement].completion[5][i-1]=="1"){%>Yes<%}%><%if(report.replacement[replacement].completion[5][i-1]=="0"){%>No<%}%></td>
							<%}%>
							<input id="6N<%=i%>" style="display:none" type="number" name="report[replacement][completion][5][<%=i-1%>]" value="<%=report.replacement[replacement].completion[5][i-1]%>">
							
							<%if(report.schedule[6].timeIn && report.schedule[6].timeIn.length>0){%>
							<td id="7T<%=i%>" class="cellTrial"><%if(report.replacement[replacement].trials[6]>=i){%>X<%}%></td>
		                    <td id="7C<%=i%>" class="cellCompletion"><%if(report.replacement[replacement].completion[6][i-1]=="1"){%>Yes<%}%><%if(report.replacement[replacement].completion[6][i-1]=="0"){%>No<%}%></td>
							<%}%>
							<input id="7N<%=i%>" style="display:none" type="number" name="report[replacement][completion][6][<%=i-1%>]" value="<%=report.replacement[replacement].completion[6][i-1]%>">
							
						</tr
		              <%}%>
		              <%for(i=0;i<8;i++){%>
		                 <input id="<%=i%>" style="display:none" type="number" name="report[replacement][trials]" value="<%=report.replacement[replacement].trials[i-1]%>">
	                 <%}%>
	                    <tr>
	                        <td><h5>Days</h5></td>
							<%for(let i=0;i<7;i++){%>
								<%if(report.schedule[i].timeIn && report.schedule[i].timeIn.length>0){%>
									<td colspan="2"><h5><%=report.schedule[i].date%></h5></td>
								<%}%>
							<%}%>
	                    </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
    <div class="row canvas-area">

    	<div class="col-sm-6 col-xs-12 text-center" <%if(currentUser.type=="analist"){%>style="display:none"<%}%>>
    		 <canvas class="assistant-canvas" width="290" height="150" ></canvas>
    		 <h4>Assistant Signature</h4>
    		 <input type="text" class="assistant-input" name="report[replacement][signatures][assistant]" style="display:none" value="<%=report.replacement[replacement].signatures.assistant%>">
    		 <button type="button" class="btn btn-default activate-assistant">Activate</button>
    		 <button type="button" class="btn btn-default clear-assistant" >Clear</button>
  			 <button type="button" class="btn btn-default save-assistant"  >Save</button>
		</div>
		
	
    	<div class="col-sm-6 col-xs-12 text-center" <%if(currentUser.type=="assistant"){%>style="display:none"<%}%>>
    		 <canvas class="analist-canvas" width="290" height="150"></canvas>
    		 <h4>Analist Signature</h4>
    		 <input type="text" class="analist-input" name="report[replacement][signatures][analist]" style="display:none" value="<%=report.replacement[replacement].signatures.analist%>">
    		 <button type="button" class="btn btn-default activate-analist"  >Activate</button>
    		 <button type="button" class="btn btn-default clear-analist" >Clear</button>
  			 <button type="button" class="btn btn-default save-analist"  >Save</button>
		</div>
		
    </div>
     <div class="save-buttons text-center">
    	<button class="btn btn-success btn-lg save">Save</button>
		<button class="btn btn-success btn-lg submit">Submit</button>
		<%if(currentUser.type=="analist"){%>
		<input class="analist" id="button" type="text" name="report[replacement][state]" value="<%=report.replacement[replacement].state%>" style="display:none">
		<%}%>
		<%if(currentUser.type=="assistant"){%>
		<input  class="assistant" id="button" type="text" name="report[replacement][state]" value="<%=report.replacement[replacement].state%>" style="display:none">
		<%}%>
		<%if(currentUser.type=="superuser"){%>
		<input  class="superuser" id="button" type="text" name="report[replacement][state]" value="<%=report.replacement[replacement].state%>" style="display:none">
		<%}%>
    </div>
</form>

<%include ../../partials/footer%>