<%include ../../partials/header%>
<form id="form" method="POST" action="/superuser/<%=superuserID%>/client/<%=clientID%>/report/<%=report._id%>?_method=PUT">
	<div class="doc-name text-center">
        <h4>MONITORING AND SUPERVISION CONDUCTED BY LEAD ANALYST</h4>
    </div>
    <div class="table-responsive">
       <table class="table table-bordered doc-header">
            <tbody>
                <tr>
                   <td><h4>Name of Recipient/Medicaid ID:<%=report.recipient.firstName+" "+report.recipient.lastName+"/"+report.recipient.medicaidNumber%></h4></td>
                     <td><h4>PA #: <%=report.recipient.approvalNumber%></h4></td>
                     <td class="col-center-supervision" rowspan="2"><h4>Week:<%=report.schedule[0].date+" - "+report.schedule[6].date%></h4></td>
                </tr>
                 <tr>
                   <td><h4>Name of Behavior Technician/Provider ID:<%=report.author.firstName+" "+report.author.lastName+"/"+report.author.providerId%></h4></td>
                    <td><h4>Name of Behavior Analyst/Provider ID:<%=report.author.firstName+" "+report.author.lastName+"/"+report.author.providerId%></h4></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive supervision">
       <table class="table table-bordered">
            <tbody>
                <thead>
	                <tr>
	                    <th><h4>Date</h4></th>
	                    <th><h4>Duration (min)</h4></th>
	                    <th><h4>Characteristics of supervision conducted</h4></th>
	                    <th><h4>Overall evaluation of supervisee performance</h4></th>
	                    <th><h4>Behavior assistant signature</h4></th>
	                    <th><h4>Behavior analyst signature</h4></th>
	                </tr>
                </thead>
                 <tr>
                     <td>
                        <select  class="selectpicker" data-width="auto" name="report[supervision][date]" title="Date" data-validation="required">
                        <% report.schedule.forEach(function(day){%>
                                <option<%if(report.supervision.date==day.date){%> selected="selected" <%}%>><%=day.date%></option>
                        <%})%>
                        </select>
                    </td>
                    <td><input class="form-control" type="number"  step="1" name="report[supervision][duration]"  data-validation="number" data-validation-allowing="range[0;120]" data-validation-error-msg="The supervision time should not exceeded the 120 minutes" value="<%=report.supervision.duration%>"></td>
                    <td>
                        <div class="form-group">
				            <select class="selectpicker" multiple data-width="100%" name="report[supervision][characteristics]" title="Characteristics of supervision" data-header="Select all that apply" data-validation="required">
                                  
                                <option <%if(report.supervision.characteristics.indexOf("A")>-1){%> selected="selected"<%}%> data-subtext="Observation of supervisee working with the individual">A</option>
  					            <option <%if(report.supervision.characteristics.indexOf("B")>-1){%> selected="selected"<%}%> data-subtext="Specific recipient discussed">B</option>
  					            <option <%if(report.supervision.characteristics.indexOf("C")>-1){%> selected="selected"<%}%> data-subtext="Observation of supervisee working with caregiver/other provider">C</option>
  					            <option <%if(report.supervision.characteristics.indexOf("D")>-1){%> selected="selected"<%}%> data-subtext="Recipient privacy discussed">D</option>
  					            <option <%if(report.supervision.characteristics.indexOf("E")>-1){%> selected="selected"<%}%> data-subtext="Required documentation reviewed">E</option>
  					            <option <%if(report.supervision.characteristics.indexOf("F")>-1){%> selected="selected"<%}%> data-subtext="Supervisory discussion and feedback">F</option>
  					            <option <%if(report.supervision.characteristics.indexOf("G")>-1){%> selected="selected"<%}%> data-subtext="BACB task list skills covered">G</option>
				            </select>
			            </div>
                    </td>
                    <td>
                        <div class="form-group">
				            <select class="selectpicker" data-width="100%" name="report[supervision][performance]" title="Supervisee performance" data-validation="required">
  					            <option <%if(report.supervision.performance=="S"){%> selected="selected" <%}%> data-subtext="Satisfactory">S</option>
  					            <option <%if(report.supervision.performance=="NI"){%> selected="selected" <%}%> data-subtext="Needs improvment">NI</option>
  					            <option <%if(report.supervision.performance=="U"){%> selected="selected" <%}%> data-subtext="Unsatisfactory">U</option>
				            </select>
			            </div>
                    </td>
                    <td>
                        <div <%if(currentUser.type=="analyst"){%>style="display:none"<%}%>>
	                     <canvas class="assistant-canvas" width="290" height="70" ></canvas>
	                     <input type="text" class="assistant-input" name="report[supervision][signatures][assistant]" style="display:none" value="<%=report.supervision.signatures.assistant%>">
		                 <button type="button" class="btn btn-default activate-assistant">Activate</button>
	                     <button type="button" class="btn btn-default clear-assistant" >Clear</button>
                           <button type="button" class="btn btn-default save-assistant"  >Save</button>
                        </div>
                    </td>
                    <td>
                        <div <%if(currentUser.type=="assistant"){%>style="display:none"<%}%>>
    		    		 <canvas class="analyst-canvas" width="290" height="70"></canvas>
    		    		 <input type="text" class="analyst-input" name="report[supervision][signatures][analyst]" style="display:none" value="<%=report.supervision.signatures.analyst%>">
    		    		 <button type="button" class="btn btn-default activate-analyst"  >Activate</button>
    		    		 <button type="button" class="btn btn-default clear-analyst" >Clear</button>
                           <button type="button" class="btn btn-default save-analyst"  >Save</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
     <div class="save-buttons text-center">
    	<button class="btn btn-success btn-lg save">Save</button>
        <button class="btn btn-success btn-lg submit">Submit</button>
        <%if(currentUser.type=="assistant"){%>
        <input class="assistant" id="button" type="text" name="report[supervision][state]" value="<%=report.supervision.state%>" style="display:none">
        <%}%>
         <%if(currentUser.type=="analyst"){%>
        <input class="analyst" id="button" type="text" name="report[supervision][state]" value="<%=report.supervision.state%>" style="display:none">
        <%}%>
        <%if(currentUser.type=="superuser"){%>
        <input class="superuser" id="button" type="text" name="report[supervision][state]" value="<%=report.supervision.state%>" style="display:none">
        <%}%>
    </div>
</form>



<%include ../../partials/footer%>