<%include ../../partials/header%>


	<div class="doc-name text-center">
        <h4>BEHAVIOR ANALIST DAILY LOG</h4>
    </div>
   <div class="table-responsive">
       <table class="table table-bordered doc-header">
            <tbody>
                <tr>
                    <td><h4>Name of Recipient/Medicaid ID:<%=report.recipient.firstName+" "+report.recipient.lastName+"/"+report.recipient.medicaidNumber%></h4></td>
                     <td><h4>Name of Behavior Analyst/Provider ID:<%=report.author.firstName+" "+report.author.lastName+"/"+report.author.providerId%></h4></td>
                     <td class="col-center-daily"rowspan="2">
                    	<h4>Week's Hours/Units:</h4>
                    	<h4><%=hours%>/<%=unit%></h4>
                    </td>
                </tr>
                 <tr>
                    <td><h4>PA #: <%=report.recipient.approvalNumber%></h4></td>
                    <td><h4>Week:<%=report.schedule[0].date+" - "+report.schedule[6].date%></h4></td>
                </tr>
            </tbody>
        </table>
    </div>

	<%report.schedule.forEach(function(day,i){%>
    	<div class="table-responsive"<%if(!(day.timeIn && day.timeIn.length>0)){%>style="display:none"<%}%>>
		   <table class="table table-bordered">
		        <tbody>
		             <thead>
		                <tr>
		                    <th></th>
		                    <th><h4>Duration of Meeting</h4></th>
		                    <th><h4>Brief Description of Performance/Observation</h4></th>
		             
		                </tr>
		            </thead>
		             <tr class="text-center">
		                <td>
		                	<div class="date">
								<h4>Date:</h4>
								<h5><%=day.date%></h5>
							</div>
		                </td>
		                <td>
		                   	<div class="hours">
								<h4>Time in:</h4>
								<h5><%=day.timeIn%></h5>
							</div>
							<div class="hours">
								<h4>Time out:</h4>
								<h5><%=day.timeOut%></h5>
							</div>
							<div class="hours">
								<h4>Units:</h4>
								<h5><%=units[i]%></h5>
							</div>
		                </td>
		                <td>
							<div >
                                <p><%=report.analystLog.log[i].progress%></p>
							</div>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		</div>
    <%})%>
    <div class="row canvas-area text-center">
		
    	<div class="col-sm-6 col-xs-12" <%if(currentUser.type=="assistant"){%>style="display:none"<%}%>>
    		 <canvas class="analyst-canvas" width="290" height="150"></canvas>
    		 <h4>Analyst Signature</h4>
    		 <input type="text" class="analyst-input" name="report[analystLog][signatures][analyst]" style="display:none" value="<%=report.analystLog.signatures.analyst%>">
    		 
		</div>
    	<div class="col-sm-6 col-xs-12" <%if(currentUser.type=="assistant"){%>style="display:none"<%}%>>
    		 <canvas class="caregiver-canvas" width="290" height="150"></canvas>
    		 <h4>Caregiver Signature</h4>
    		 <input type="text" class="caregiver-input" name="report[analystLog][signatures][caregiver] " style="display:none" value="<%=report.analystLog.signatures.caregiver%>">
    		 
		</div>
		
    </div>




<%include ../../partials/footer%> 
