<%include ../partials/header%>
<div class="container-fluid" style="padding-top: 60px;"> 
    <div class="row text-center">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <img   src="<%=client.photo%>" class="avatar img-circle img-thumbnail main-image" alt="avatar">
                <h2><%=client.firstName+" "+client.lastName%></h2>
            </div>
    </div>
    <%if(currentUser.type=="assistant" || currentUser.type=="superuser"){%>
    <div class="row ">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <h4 class="page-header">Assistant Reports</h4>
                </div>
    </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Week</th>
                        <th>Author</th>
                        <th>Status</th>
                        <th>Units</th>
                    </tr>
                </thead>
                <tbody>
                    <%client.assistantReports.forEach(function(report,index){%>
                            <tr>
                                <td><a href="/superuser/<%=superuserID%>/client/<%=client._id%>/report/<%=report._id%>"><%=report.startDate+" - "+report.endDate%></a></td>
                                <td><%=report.author%></td>
                                <td><%=assistantStates[index]%></td>
                                <td><%=assistantUnits[index]%></td>
                            </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
        <%}%>
        <%if(currentUser.type=="analist" || currentUser.type=="superuser"){%>
         <div class="row ">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <h4 class="page-header">Analist Reports</h4>
                </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Week</th>
                        <th>Author</th>
                        <th>Status</th>
                        <th>Units</th>
                    </tr>
                </thead>
                <tbody>
                    <%client.analistReports.forEach(function(report,index){%>
                            <tr>
                                <td><a href="/superuser/<%=superuserID%>/client/<%=client._id%>/report/<%=report._id%>"><%=report.startDate+" - "+report.endDate%></a></td>
                                <td><%=report.author%></td>
                                <td><%=analistStates[index]%></td>
                                <td><%=analistUnits[index]%></td>
                            </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
        <%}%>
    <%if(currentUser.type!="superuser"){%>
    <a class="btn btn-success" href="/superuser/<%=superuserID%>/client/<%=client._id%>/report/new">New Report</a>
    <%}%>
</div>

<%include ../partials/footer%>