<%include ../partials/header%>
<div class="container-fluid" style="padding-top: 60px;"> 
    <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page-header" >
                <h4 class="report-h4" >Schedule</h4>
                <a href="/superuser/<%=superuserID%>/client/<%=clientID%>/report/<%=report._id%>/edit?section=schedule" class="btn btn-success btn-sm report-edit-btn">Edit</a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time in</th>
                    <th>Time out</th>
                    <th>Units</th>
                </tr>
            </thead>
            <tbody>
                <%report.schedule.forEach(function(day,index){%>
                    <%if(day.timeIn && day.timeIn.length>0){%>
                    <tr>
                        <td><%=day.date%></td>
                        <td><%=day.timeIn%></td>
                        <td><%=day.timeOut%></td>
                        <td><%=units[index]%></td>
                    </tr>
                    <%}%>
                <%})%>
            </tbody>
        </table>
    </div>
    <%if(currentUser.type=="assistant"){%>
    <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page-header" >
                <h4 class="report-h4" >Daily Log</h4>
                <a href="/superuser/<%=superuserID%>/client/<%=clientID%>/report/<%=report._id%>/edit?section=assistantLog" class="btn btn-success btn-sm report-edit-btn">Edit</a>
            </div>
        </div>
    </div>
     <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page-header" >
                <h4 class="report-h4" >Maladaptative Behaviors Data Collection</h4>
                <a href="/superuser/<%=superuserID%>/client/<%=clientID%>/report/<%=report._id%>/edit?section=behavior" class="btn btn-success btn-sm report-edit-btn">Edit</a>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page-header" >
                <h4 class="report-h4" >Replacement Behaviors Data Collection</h4>
                <a href="/superuser/<%=superuserID%>/client/<%=clientID%>/report/<%=report._id%>/edit?section=replacement" class="btn btn-success btn-sm report-edit-btn">Edit</a>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page-header" >
                <h4 class="report-h4" >Medical Log</h4>
                <a href="/superuser/<%=superuserID%>/client/<%=clientID%>/report/<%=report._id%>/edit?section=medical" class="btn btn-success btn-sm report-edit-btn">Edit</a>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page-header" >
                <h4 class="report-h4" >Supervision Conducted by Behavior Analyst</h4>
                <a href="/superuser/<%=superuserID%>/client/<%=clientID%>/report/<%=report._id%>/edit?section=supervision" class="btn btn-success btn-sm report-edit-btn">Edit</a>
            </div>
        </div>
    </div>
    <%}%>
    <%if(currentUser.type=="analist"){%>
    <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page-header" >
                <h4 class="report-h4" >Daily Log</h4>
                <a href="/superuser/<%=superuserID%>/client/<%=clientID%>/report/<%=report._id%>/edit?section=analistLog" class="btn btn-success btn-sm report-edit-btn">Edit</a>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page-header" >
                <h4 class="report-h4" >Caregiver Competency Check</h4>
                <a href="/superuser/<%=superuserID%>/client/<%=clientID%>/report/<%=report._id%>/edit?section=caregiver" class="btn btn-success btn-sm report-edit-btn">Edit</a>
            </div>
        </div>
    </div>
    <%}%>
</div>

<%include ../partials/footer%>