<%include ../partials/header%>

<div id="page-wrapper">
  <div class="container" style="padding-top: 60px;">
    <h1 class="page-header">Edit Profile</h1>
    <div class="row">
      <!--Left column-->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <!--Displaying the assistant picture-->
        <div class="text-center">
          <img src=<%=superuser.photo%> class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>Upload a different photo...</h6>
          <input type="file" class="text-center center-block well well-sm">
        </div>
      </div>
      <!--Right column-->
      <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
        <!--Form to edit a superuser-->
        <form  method="POST" action="/superuser/<%=superuser._id%>?_method=PUT" class="form-horizontal" >
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
              <div class="col-lg-8">
                <input class="form-control" value="<%=superuser.firstName%>" name="superuser[firstName]" type="text" data-validation="required" data-validation-error-msg="The first name is required">
              </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" value="<%=superuser.lastName%>" name="superuser[lastName]" type="text" data-validation="required" data-validation-error-msg="The last name is required">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Phone:</label>
            <div class="col-lg-8">
              <input class="form-control" value="<%=superuser.phone%>" name="superuser[phone]" type="text" data-validation="number" data-validation-allowing="range[1000000000;9999999999]" data-validation-optional="true"  data-validation-error-msg="Wrong phone format">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" value="<%=superuser.email%>" name="superuser[email]" type="text" data-validation="email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Provider ID:</label>
            <div class="col-lg-8">
              <input class="form-control" value="<%=superuser.providerId%>" name="superuser[providerId]" type="text" data-validation="number" data-validation-allowing="range[1000000000;9999999999]" data-validation-optional="true" data-validation-error-msg="The provider Id must be 10 digits">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <button class="btn btn-primary">Save Changes</button> 
              <span></span>
              <a href="/superuser/<%=superuser._id%>" class="btn btn-default"> Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
            <!-- /.row -->
  </div>
        <!-- /.container-->
</div>
    <!-- /#page-wrapper -->



<%include ../partials/footer%>