<%include ../partials/header%>

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row" id="main" >
            <div class="col-sm-12 col-md-12 well" id="content">
                <h1 id="welcome">Welcome <%=superuser.firstName%></h1>
            </div>
            <div class="container" style="padding-top: 60px;">
                <div class="row">
                    <!--Showing superuser atrributes including the picture-->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="thumbnail">
                            <div class="text-center">
                                <img src="<%=superuser.photo%>" class="avatar img-circle img-thumbnail" alt="avatar">
                                <div class="caption">
                                    <h2><%=currentUser.company%></h2>
                                    <h4><strong>Phone: </strong><%=superuser.phone%></h4>
                                    <h4><strong>Email: </strong><%=superuser.email%></h4>
                                    <h4><strong>Provider ID: </strong><%=superuser.providerId%></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
    <!-- /#page-wrapper -->




<%include ../partials/footer%>
